node_modules
src/utility/*.http
src/certs/*
!src/certs/.gitkeep
src/logs/
config/
.env*
!.env.development
!.env.example

src/assets/sfx/*
!src/assets/sfx/attack_sword.mp3
!src/assets/sfx/music_morning_dew.mp3
!src/assets/sfx/music_entry.mp3

src/assets/tilesets/*
!src/assets/tilesets/MystcialValley_Environment.png
!src/assets/tilesets/MystcialValley_Structures.png

src/assets/maps/*

src/webserver/www/public/js/web/*.js
*.sqlite
*.sqlite-wal
*.sqlite-shm
src/utility/*.md
.VSCodeCounter
bun.lockb

.vscode/
.claude/
swark-output/
CLAUDE.md

src/plugins/
AGENTS.md