name: Build and Release (Development)

permissions:
  contents: read

on:
  push:
    paths:
      - '**'
  workflow_dispatch:

jobs:
  build:
    name: Build and Release (Development)
    runs-on: self-hosted
    environment: development
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update environment variables
        run: |
          sed -i 's|localhost|forge.lillious.com|g' .env.development

      - name: Build Docker Image
        run: |
          docker compose -f docker-compose.dev.yml build

  stop-docker-container:
    name: Stop Docker Container
    runs-on: self-hosted
    environment: development
    needs: [build]
    steps:
      - name: Stop Docker Container
        run: |
          docker compose -f docker-compose.dev.yml down || echo "No container to stop"

  start-docker-container:
    name: Start Docker Container
    runs-on: self-hosted
    environment: development
    needs: [stop-docker-container]
    steps:
      - name: Start Docker Services
        run: |
          docker compose -f docker-compose.dev.yml up -d

  cleanup:
    name: Cleanup Old Docker Images
    runs-on: self-hosted
    environment: development
    needs: [start-docker-container]
    steps:
      - name: Remove Unused Docker Images
        run: |
          docker image prune -f