name: Build and Release

permissions:
  contents: read

on:
  push:
    paths:
      - 'src/**'

  workflow_dispatch:

jobs:
  build:
    name: Build and Release
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update environment variables
        run: |
          echo 'DATABASE_ENGINE=mysql' >> .env.production
          echo 'DATABASE_HOST="${{ secrets.DATABASE_HOST }}"' >> .env.production
          echo 'DATABASE_NAME="${{ secrets.DATABASE_NAME }}"' >> .env.production
          echo 'DATABASE_PASSWORD="${{ secrets.DATABASE_PASSWORD }}"' >> .env.production
          echo 'DATABASE_USER="${{ secrets.DATABASE_USER }}"' >> .env.production
          echo 'DATABASE_PORT="${{ secrets.DATABASE_PORT }}"' >> .env.production
          echo 'EMAIL_PASSWORD="${{ secrets.EMAIL_PASSWORD }}"' >> .env.production
          echo 'EMAIL_SERVICE="${{ secrets.EMAIL_SERVICE }}"' >> .env.production
          echo 'EMAIL_USER="${{ secrets.EMAIL_USER }}"' >> .env.production
          echo 'EMAIL_TEST="${{ secrets.EMAIL_TEST }}"' >> .env.production
          echo 'SESSION_KEY="${{ secrets.SESSION_KEY }}"' >> .env.production
          echo 'SQL_SSL_MODE=DISABLED' >> .env.production
          echo 'WEBSRV_PORT=80' >> .env.production
          echo 'WEBSRV_PORTSSL=443' >> .env.production
          echo 'WEBSRV_USESSL=true' >> .env.production
          echo 'GOOGLE_TRANSLATE_API_KEY="${{ secrets.GOOGLE_TRANSLATE_API_KEY }}"' >> .env.production
          echo 'OPENAI_API_KEY="${{ secrets.OPENAI_API_KEY }}"' >> .env.production
          echo 'TRANSLATION_SERVICE="openai"' >> .env.production
          echo 'OPEN_AI_MODEL="gpt-4.1-nano-2025-04-14"' >> .env.production
          echo 'WEB_SOCKET_URL="wss://forge.lillious.com:3000"' >> .env.production
          echo 'WEB_SOCKET_PORT=3000' >> .env.production
          echo 'DOMAIN="https://forge.lillious.com"' >> .env.production
          echo 'GAME_NAME="Frostfire Forge"' >> .env.production
          echo 'CACHE="redis"' >> .env.production
          echo 'REDIS_URL="redis://default:${{ secrets.REDIS_PASSWORD }}@redis:6379"' >> .env.production
          echo 'REDIS_PASSWORD="${{ secrets.REDIS_PASSWORD }}"' >> .env.production

      - name: Create Certificate Chain
        working-directory: src/certs
        run: |
          # Create CA Bundle using CERT_CA_BUNDLE secret
          echo "${{ secrets.CERT_CA_BUNDLE }}" > cert.ca-bundle

          # Create pem
          echo "${{ secrets.CERT_PEM }}" > cert.pem

          # Create private key
          echo "${{ secrets.CERT_PRIVATE_KEY }}" > key.pem

          # Create database Certificate
          echo "${{ secrets.DB_CERT }}" > db.crt

      - name: Build Docker Image
        run: |
          export REDIS_PASSWORD="${{ secrets.REDIS_PASSWORD }}"
          docker compose -f docker-compose.prod.yml build

  stop-docker-containers:
    name: Stop Existing Docker Containers
    runs-on: self-hosted
    environment: production
    needs: [build]
    steps:
      - name: Stop Docker Container
        run: |
          export REDIS_PASSWORD="${{ secrets.REDIS_PASSWORD }}"
          docker compose -f docker-compose.prod.yml down || echo "No container to stop"

  start-docker-container:
    name: Start Docker Container
    runs-on: self-hosted
    environment: production
    needs: [stop-docker-containers]
    steps:
      - name: Start Docker Services
        run: |
          export REDIS_PASSWORD="${{ secrets.REDIS_PASSWORD }}"
          docker compose -f docker-compose.prod.yml up -d

  cleanup:
    name: Cleanup Old Docker Images
    runs-on: self-hosted
    environment: production
    needs: [start-docker-container]
    steps:
      - name: Remove Unused Docker Images
        run: |
          docker image prune -f