name: Build and Release (Development)

permissions:
  contents: read

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build and Release
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Bun Canary
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: canary

      - name: Install Dependencies
        run: |
          bun install

      - name: Create Configuration
        run: |
          bun create-config

      - name: Setup SQLite Database
        run: |
          bun setup-development

      - name: Update environment variables
        run: |
          sed -i 's|localhost|forge.lillious.com|g' .env.development

      - name: Build Docker Image
        run: |
          docker compose -f docker-compose.dev.yml build

  stop-docker-container:
    name: Stop Docker Container
    runs-on: self-hosted
    environment: production
    needs: [build]
    steps:
      - name: Stop Docker Services
        run: |
          PID=$(sudo docker inspect --format '{{.State.Pid}}' frostfire-forge-dev)
          sudo kill -9 $PID
          sudo docker rm frostfire-forge-dev || sudo rm -rf /var/lib/docker/containers/$(sudo docker inspect --format '{{.Id}}' frostfire-forge-dev)

  start-docker-container:
    name: Start Docker Container
    runs-on: self-hosted
    environment: production
    needs: [stop-docker-container]
    steps:
      - name: Start Docker Services
        run: |
          docker compose -f docker-compose.dev.yml up -d

  cleanup:
    name: Cleanup Old Docker Images
    runs-on: self-hosted
    environment: production
    needs: [start-docker-container]
    steps:
      - name: Remove Unused Docker Images
        run: |
          docker image prune -f

      - name: Clean Up Stale Files
        working-directory: .
        run: |
          cd ../../
          rm -rf Frostfire-Forge