name: Build and Release (Development)

permissions:
  contents: read

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build and Release
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          bun install

      - name: Create Configuration
        run: |
          bun create-config

      - name: Setup SQLite Database
        run: |
          bun setup-development

      - name: Update environment variables
        run: |
          sed -i 's|localhost|forge.lillious.com|g' .env.development

      - name: Build Docker Image
        run: |
          docker compose -f docker-compose.dev.yml build

  stop-docker-container:
    name: Stop Docker Container
    runs-on: self-hosted
    environment: production
    needs: [build]
    steps:
      - name: Stop Docker Services
        run: |
          set +e  # disable exit-on-error
          CONTAINER_ID=$(sudo docker ps -aq -f name=frostfire-forge-dev)
          if [ -n "$CONTAINER_ID" ]; then
            echo "Stopping container $CONTAINER_ID..."
            sudo docker stop "$CONTAINER_ID" || true
            sudo docker rm -f "$CONTAINER_ID" || true
          else
            echo "No container named frostfire-forge-dev found."
          fi
          set -e  # re-enable exit-on-error

  start-docker-container:
    name: Start Docker Container
    runs-on: self-hosted
    environment: production
    needs: [stop-docker-container]
    steps:
      - name: Start Docker Services
        run: |
          docker compose -f docker-compose.dev.yml up -d

  cleanup:
    name: Cleanup Old Docker Images
    runs-on: self-hosted
    environment: production
    needs: [start-docker-container]
    steps:
      - name: Remove Unused Docker Images
        run: |
          docker image prune -f

      - name: Clean Up Stale Files
        working-directory: .
        run: |
          cd ../../
          rm -rf Frostfire-Forge