name: Build and Release

permissions:
  contents: read

on:
  push:
    paths:
      - 'src/**'

  workflow_dispatch:

jobs:
  build:
    name: Build and Release
    runs-on: self-hosted
    environment: production
    steps:
      - uses: actions/checkout@v4