name: ☑️ Create GitHub Pre-Release
on:
    workflow_call:
        inputs:
            release-number:
                description: "The release number"
                required: true
                type: string

jobs:
    create-github-prerelease:
        name: Create GitHub Pre-Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.7
              with:
                submodules: 'recursive'

            - uses: oven-sh/setup-bun@v2

            - name: Create GitHub Pre-Release
              run: |
                bun run .github/workflows/supporting-files/create-github-release/index.ts --repository ${{ github.repository }} --github-token ${{ secrets.GITHUB_TOKEN }} --release-number ${{ inputs.release-number }}