name: Development > Release

permissions:
  contents: read

on:
  push:
    paths:
      - 'src/**'
      - 'docker-compose.dev.yml'
      - 'Dockerfile.dev'
      - '.github/workflows/development_release.yml'
    branches:
      - development

  workflow_dispatch:

concurrency:
  group: 'development-release'
  cancel-in-progress: true

jobs:
  build:
    name: Build Development
    runs-on: self-hosted
    environment: development
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update environment variables
        run: |
          # Check if .env.development is a directory (should not be)
          if [ -d ".env.development" ]; then
            echo ".env.development is a directory. Removing it."
            rm -rf .env.development
          fi

          # Remove existing .env.development file if it exists and is not a directory
          if [ -f ".env.development" ]; then
            echo ".env.development file exists. Removing it."
            rm .env.development
          fi

          echo 'DATABASE_ENGINE="sqlite"' >> .env.development
          echo 'DATABASE_NAME="frostfire-forge-dev"' >> .env.development
          echo 'WEBSRV_PORT=8080' >> .env.development
          echo 'WEBSRV_USESSL=false' >> .env.development
          echo 'WEB_SOCKET_URL="ws://forge.lillious.com"' >> .env.development
          echo 'WEB_SOCKET_PORT=3001' >> .env.development
          echo 'DOMAIN="http://forge.lillious.com:8080"' >> .env.development
          echo 'GAME_NAME="Frostfire Forge Beta"' >> .env.development
          echo 'CACHE="redis"' >> .env.development
          echo 'REDIS_URL="redis://default:development@redis-dev:6380"' >> .env.development
          echo 'REDIS_PASSWORD="development"' >> .env.development
          echo 'VERSION="${{ github.run_number }}-development"' >> .env.development

      - name: Build Docker Image
        run: |
          docker compose -f docker-compose.dev.yml build

  stop-docker-container:
    name: Stop Docker Container
    runs-on: self-hosted
    environment: development
    needs: [build]
    steps:
      - name: Stop Docker Container
        run: |
          docker compose -f docker-compose.dev.yml down || echo "No container to stop"

  start-docker-container:
    name: Start Docker Container
    runs-on: self-hosted
    environment: development
    needs: [stop-docker-container]
    steps:
      - name: Start Docker Services
        run: |
          docker compose -f docker-compose.dev.yml up -d

  cleanup:
    name: Cleanup Old Docker Images
    runs-on: self-hosted
    environment: development
    needs: [start-docker-container]
    steps:
      - name: Remove Unused Docker Images
        run: |
          docker image prune -f