name: Generate Release Number
on:
  workflow_call:
    outputs:
      release-number:
        description: "The release number"
        value: ${{ jobs.generate-build-number.outputs.release-number }}

jobs:
  generate-build-number:
    runs-on: windows-latest
    name: Generate Release Number
    outputs:
        release-number: ${{ steps.set-build-number.outputs.RELEASE_NUMBER }}
    steps:

      - name: Checkout
        uses: actions/checkout@v4.1.7
        with:
          submodules: 'recursive'

      - uses: oven-sh/setup-bun@v2

      - name: Generate Build Number
        id: set-build-number
        run: |
          $release_number = bun run .github/workflows/supporting-files/generate-release-number/index.ts --token "${{ secrets.GITHUB_TOKEN }}" --repository "${{ github.repository }}"
          echo "RELEASE_NUMBER=$release_number" >> $env:GITHUB_OUTPUT